@import "core";

// ========================================
// Defaults
// ========================================

//
// Grid Defaults
//

$column-prefix: "col" !default;
$column-amount: 12 !default;

$row-prefix: "row" !default
$row-amount: $column-amount !default;


// ========================================
// Mixins
// ========================================

//
// Column Start Mixin
//

@mixin column-start($position: auto) {
	grid-column-start: $position;
}

//
// Column End Mixin
//

@mixin column-end($length: auto) {
	grid-column-end: $length;
}

//
// Row Start Mixin
//

@mixin row-start($position: auto) {
	grid-row-start: $position;
}

//
// Row End Mixin
//

@mixin row-end($length: auto) {
	grid-row-end: $length;
}

//
// Grid Mixin
//

@mixin grid($display: grid, $column-template: $column-amount, $row-template: column) {
	display: $display;
	grid-template-columns: repeat($column-amount, 1fr);

	@if $row-template == column {
		grid-auto-flow: column;
	} @else {
		grid-template-rows: $row-template;
	}
}

//
// Generate Column Classes Mixin
//

@mixin generate-column-row-classes($grid-type: default, $type: column, $type-amount: $column-amount, $type-prefix: $column-prefix) {

	@each $breakpoint-name, $breakpoint-value in $-breakpoints {

		@for $i from 1 through $type-amount {

			@if $breakpoint-name == "l" {

				.#{$type-prefix}-#{$breakpoint-name}-pos-#{$i} {
					@if $type == column {
						@include column-start($i);
					}

					@if $type == row {
						@include row-start($i);
					}
				}

				.#{$type-prefix}-#{$breakpoint-name}-span-#{$i} {
					@if $type == column {
						@include column-end(span $i);
					}

					@if $type == row {
						@include row-end(span $i);
					}
				}

			}

			@if $breakpoint-name != "large" and $grid-type != default {
				@include breakpoint($breakpoint-name){
					.#{$type-prefix}-#{$breakpoint-name}-pos-#{$i} {
						@if $type == column {
							@include column-start($i);
						}

						@if $type == row {
							@include row-start($i);
						}
					}
				}

				@include breakpoint($breakpoint-name){
					.#{$type-prefix}-#{$breakpoint-name}-span-#{$i} {
						@if $type == column {
							@include column-end(span $i);
						}

						@if $type == row {
							@include row-end(span $i);
						}
					}
				}
			}
		}

	}

}

//
// Generate Grid Classes Mixin
//

@mixin generate-grid-classes($grid-type: default, $type: columns, $columns: true, $rows: false) {

	@if $columns != false {
		@include generate-column-row-classes($grid-type, column, $column-amount, $column-prefix);
	}

	@if $rows != false {
		@include generate-column-row-classes($grid-type, row, $row-amount, $row-prefix);
	}
}