@import "core";

html, body, section, h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 25px;
}

section {
	display: block;
	position: relative;
}

h1 {
	font-size: 60px;
	line-height: 80px;
}

h2 {
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 40px;
}

h3 {
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 40px;
}

h4 {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 20px;
}

p {
	margin-bottom: 20px;
}

a {
	color: #08c;

	&:hover {
		color: #ccc;
	}
}

.section {
	width: 100%;
	min-height: 100%;
}

.section {
	h2, h3 {
		display: block;
		text-align: center;
	}
}

.section-content {
	max-width: 940px;
	width: 90%;
	margin: 0 auto;
	padding: 50px 0;

	@include breakpoint(m) {
		padding: 40px 0;
	}

	@include breakpoint(s) {
		padding: 25px 0;
	}
}

.section-hero h1 {
	display: block;
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
}

.grid-layouts .col {
	text-align: center;
}

.grid-layouts .grid-layout-background {
	display: block;
	box-sizing: border-box;
	padding: 10px 0;
	background: #ccc;
	border: 5px solid #fff;
}

.section-examples .examples-link {
	display: block;
	text-align: center;
}